In [3]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("data.csv")

In [7]:
df

,name,film,year,Gener,Boxoffice,IMDB
0,SRK,pathaan,2023.0,Action,1050,7.2
1,salman,tiger zinda hai,2017.0,Action,565,6.0
2,Aamir khan,dangel,2016.0,Biography,2024,8.4
3,Ranbir kapoor,brahmastra,2022.0,Fantsy,431,5.6
4,ranveer sing,padmavat,2018.0,Historical,585,7.0
5,ayushman,andhadun,2018.0,Thriller,111,8.3
6,Rajkumar rao,stree,2019.0,Horror comedy,180,7.5
7,Hrithik roshan,War,2019.0,Action,475,6.5
8,Akshay kumar,Good newwz,2022.0,Comedy,318,7.0
9,Kartik aryan,bhool Bhulaiyaa,2017.0,Horror comedy,266,5.9
10,Varun dhawan,Badrinath ki dulaniya,2019.0,Romantic comedy,201,6.1
11,Vicky kaushal,Uri,NaN,action,342,8.2

In [13]:
# select column (singel column)
df['name']

0                SRK
1             salman
2         Aamir khan
3      Ranbir kapoor
4       ranveer sing
5           ayushman
6       Rajkumar rao
7     Hrithik roshan
8       Akshay kumar
9       Kartik aryan
10      Varun dhawan
11     Vicky kaushal
Name: name, dtype: object

In [12]:
# select column (singel column)
df['name'][4]

'ranveer sing'

In [11]:
#select column (Multipel columns)
df[['name','IMDB']]

              name  IMDB
0              SRK   7.2
1           salman   6.0
2       Aamir khan   8.4
3    Ranbir kapoor   5.6
4     ranveer sing   7.0
5         ayushman   8.3
6     Rajkumar rao   7.5
7   Hrithik roshan   6.5
8     Akshay kumar   7.0
9     Kartik aryan   5.9
10    Varun dhawan   6.1
11   Vicky kaushal   8.2

In [14]:
#selecting row by label
df.loc[3] #row by label name

name         Ranbir kapoor
film            brahmastra
year                2022.0
Gener               Fantsy
Boxoffice              431
IMDB                   5.6
Name: 3, dtype: object

In [16]:
df.iloc[3] # rows by index (no matter what label is)

name         Ranbir kapoor
film            brahmastra
year                2022.0
Gener               Fantsy
Boxoffice              431
IMDB                   5.6
Name: 3, dtype: object

In [17]:
# select rows and column using loc
df.loc[3,'film'] # 3rd row and film column

'brahmastra'

In [19]:
df.iloc[3,1] # using iloc we gives indices

'brahmastra'

In [21]:
# slicing of data
df.loc[0:3,['name','film','IMDB']]

            name             film  IMDB
0            SRK          pathaan   7.2
1         salman  tiger zinda hai   6.0
2     Aamir khan           dangel   8.4
3  Ranbir kapoor       brahmastra   5.6

In [23]:
#for accesing perticular element 
df.at[3,'name']

'Ranbir kapoor'

In [24]:
df.iat[3,0]

'Ranbir kapoor'

In [26]:
# For filtering of dataset
df[df['IMDB']>7]

             name        film    year         Gener   Boxoffice  IMDB
0             SRK     pathaan  2023.0         Action       1050   7.2
2      Aamir khan      dangel  2016.0      Biography       2024   8.4
4    ranveer sing    padmavat  2018.0     Historical        585   7.0
5        ayushman    andhadun  2018.0       Thriller        111   8.3
6    Rajkumar rao       stree  2019.0  Horror comedy        180   7.5
8    Akshay kumar  Good newwz  2022.0         Comedy        318   7.0
11  Vicky kaushal         Uri     NaN         action        342   8.2

In [27]:
#filtering and chaining 
df[df["IMDB"]>7]["name"]

0               SRK
2        Aamir khan
5          ayushman
6      Rajkumar rao
11    Vicky kaushal
Name: name, dtype: object

In [30]:
df[(df["IMDB"]>8) & (df["year"]>2010)]

         name      film    year     Gener   Boxoffice  IMDB
2  Aamir khan    dangel  2016.0  Biography       2024   8.4
5    ayushman  andhadun  2018.0   Thriller        111   8.3

In [32]:
# Data filtering using query function
df.query("year>2018 and IMDB>7") # it's just like SQl language

           name     film    year         Gener   Boxoffice  IMDB
0           SRK  pathaan  2023.0         Action       1050   7.2
6  Rajkumar rao    stree  2019.0  Horror comedy        180   7.5