In [1]:
import requests

In [2]:
a= requests.get("https://quotes.toscrape.com/")

In [5]:
with open ("Htmls/quote.html","w",encoding="utf-8") as f:
    f.write(a.text)

In [7]:
from bs4 import BeautifulSoup

In [15]:
with open ("Htmls/quote.html",encoding="utf-8") as f:
    content=f.read()

In [17]:
soup=BeautifulSoup(content,"html.parser")

In [55]:
span=soup.find_all("span")

In [79]:
items=[]
for sp in span:
    quote=sp.find_all(class_="text")
    Author=sp.select_one("small").text
    items.append([quote,Author])

AttributeError: 'NoneType' object has no attribute 'text'

In [67]:
import pandas as pd

In [68]:
df=pd.DataFrame(items,columns=['Quote','Author'])

In [69]:
df

   Quote                 Author
0     []                     []
1     []    [[Albert Einstein]]
2     []                     []
3     []       [[J.K. Rowling]]
4     []                     []
5     []    [[Albert Einstein]]
6     []                     []
7     []        [[Jane Austen]]
8     []                     []
9     []     [[Marilyn Monroe]]
10    []                     []
11    []    [[Albert Einstein]]
12    []                     []
13    []         [[André Gide]]
14    []                     []
15    []   [[Thomas A. Edison]]
16    []                     []
17    []  [[Eleanor Roosevelt]]
18    []                     []
19    []       [[Steve Martin]]
20    []                     []
21    []                     []
22    []                     []
23    []                     []
24    []                     []
25    []                     []
26    []                     []
27    []                     []
28    []                     []
29    []                     []
30    []                     []
31    []                     []