In [13]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda34\lib\site-packages (2.2.2)
Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda34\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda34\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda34\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda34\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda34\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 1.2 MB/s eta 0:00:09
   --- ------------------------------------ 1.0/11.0 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/11.0 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.0 MB 1.2 MB/s eta 0:00:08
   ----- ---------------------------------- 1.6/11.0 MB 1.2 MB/s eta 0:00:08
   ------ --------------------------------- 1.8/11.0 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/11.0 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/11.0 MB 1.2 MB/s eta 0:00:07
   --------- ------------------------------ 2.6/11.0 MB 1.2 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/11.0 MB 1.2 MB/s eta 0:00:07
   ----------- ---------------------------- 3.1/11.0 MB 1.2 MB/s eta 0:00:07
   ------------ --------------------------- 3.4/11.0 MB 1.2 MB/s eta 0:00:07
   ------------- -------------------------- 3.7/11.0 MB 1.2 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/11.0 MB 1.2 MB/s eta 0:00:06
   --------------- ------------------------ 4.2/11.0 MB 1.2 MB/s eta 0:00:06
   ---------------- ----------------------- 4.5/11.0 MB 1.2 MB/s eta 0:00:06
   ----------------- ---------------------- 4.7/11.0 MB 1.2 MB/s eta 0:00:06
   ------------------ --------------------- 5.0/11.0 MB 1.2 MB/s eta 0:00:05
   ------------------- -------------------- 5.2/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.5/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.5/11.0 MB 1.2 MB/s eta 0:00:05
   -------------------- ------------------- 5.8/11.0 MB 1.2 MB/s eta 0:00:05
   --------------------- ------------------ 6.0/11.0 MB 1.2 MB/s eta 0:00:05
   ---------------------- ----------------- 6.3/11.0 MB 1.2 MB/s eta 0:00:05
   ----------------------- ---------------- 6.6/11.0 MB 1.2 MB/s eta 0:00:04
   ----------------------- ---------------- 6.6/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------ --------------- 6.8/11.0 MB 1.2 MB/s eta 0:00:04
   ------------------------- -------------- 7.1/11.0 MB 1.1 MB/s eta 0:00:04
   -------------------------- ------------- 7.3/11.0 MB 1.1 MB/s eta 0:00:04
   --------------------------- ------------ 7.6/11.0 MB 1.1 MB/s eta 0:00:03
   --------------------------- ------------ 7.6/11.0 MB 1.1 MB/s eta 0:00:03
   ---------------------------- ----------- 7.9/11.0 MB 1.1 MB/s eta 0:00:03
   ----------------------------- ---------- 8.1/11.0 MB 1.1 MB/s eta 0:00:03
   ------------------------------ --------- 8.4/11.0 MB 1.1 MB/s eta 0:00:03
   ------------------------------- -------- 8.7/11.0 MB 1.1 MB/s eta 0:00:03
   -------------------------------- ------- 8.9/11.0 MB 1.1 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/11.0 MB 1.1 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 1.1 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/11.0 MB 1.1 MB/s eta 0:00:02
   ----------------------------------- ---- 9.7/11.0 MB 1.1 MB/s eta 0:00:02
   ------------------------------------ --- 10.0/11.0 MB 1.1 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 1.1 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 1.1 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
Successfully installed pandas-2.3.1

  WARNING: Failed to remove contents in a temporary directory 'C:\Users\LENOVO\anaconda34\Lib\site-packages\~andas'.
  You can safely remove it manually.

In [14]:
import pandas as pd

In [15]:
df=pd.read_excel("stocks.xlsx",header=[0,1])

In [16]:
df

  Unnamed: 0_level_0    Price                  Price to earnings ratio (P/E)  \
             Company Facebook Google Microsoft                      Facebook
0         2017-06-05      155    955        66                         37.10
1         2017-06-06      150    987        69                         36.98
2         2017-06-07      153    963        62                         36.78
3         2017-06-08      155   1000        61                         36.11
4         2017-06-09      156   1012        66                         37.07


  Google Microsoft
0   32.0     30.31
1   31.3     30.56
2   31.7     30.46
3   31.2     30.11
4   30.0     31.00

In [23]:
df.stack(future_stack=True,level=0)

                                   Company  Facebook  Google  Microsoft
0 Unnamed: 0_level_0            2017-06-05       NaN     NaN        NaN
  Price                                NaT    155.00   955.0      66.00
  Price to earnings ratio (P/E)        NaT     37.10    32.0      30.31
1 Unnamed: 0_level_0            2017-06-06       NaN     NaN        NaN
  Price                                NaT    150.00   987.0      69.00
  Price to earnings ratio (P/E)        NaT     36.98    31.3      30.56
2 Unnamed: 0_level_0            2017-06-07       NaN     NaN        NaN
  Price                                NaT    153.00   963.0      62.00
  Price to earnings ratio (P/E)        NaT     36.78    31.7      30.46
3 Unnamed: 0_level_0            2017-06-08       NaN     NaN        NaN
  Price                                NaT    155.00  1000.0      61.00
  Price to earnings ratio (P/E)        NaT     36.11    31.2      30.11
4 Unnamed: 0_level_0            2017-06-09       NaN     NaN        NaN
  Price                                NaT    156.00  1012.0      66.00
  Price to earnings ratio (P/E)        NaT     37.07    30.0      31.00

In [28]:
df2=pd.read_excel("stocks_3_levels.xlsx",header=[0,1,2])

In [31]:
df2.stack(future_stack=True,level=1)

                                Unnamed: 0_level_0 Price Ratios          \
                                           Company     Facebook  Google
0 Unnamed: 0_level_1                       Q1 2016          NaN     NaN
  Price                                        NaN       155.00   955.0
  Price to earnings ratio (P/E)                NaN        37.10    32.0
  Net Sales                                    NaN          NaN     NaN
  Net Profit                                   NaN          NaN     NaN
1 Unnamed: 0_level_1                       Q2 2016          NaN     NaN
  Price                                        NaN       150.00   987.0
  Price to earnings ratio (P/E)                NaN        36.98    31.3
  Net Sales                                    NaN          NaN     NaN
  Net Profit                                   NaN          NaN     NaN
2 Unnamed: 0_level_1                       Q3 2016          NaN     NaN
  Price                                        NaN       153.00   963.0
  Price to earnings ratio (P/E)                NaN        36.78    31.7
  Net Sales                                    NaN          NaN     NaN
  Net Profit                                   NaN          NaN     NaN
3 Unnamed: 0_level_1                       Q4 2016          NaN     NaN
  Price                                        NaN       155.00  1000.0
  Price to earnings ratio (P/E)                NaN        36.11    31.2
  Net Sales                                    NaN          NaN     NaN
  Net Profit                                   NaN          NaN     NaN
4 Unnamed: 0_level_1                       Q1 2017          NaN     NaN
  Price                                        NaN       156.00  1012.0
  Price to earnings ratio (P/E)                NaN        37.07    30.0
  Net Sales                                    NaN          NaN     NaN
  Net Profit                                   NaN          NaN     NaN

                                          Income Statement
                                Microsoft         Facebook Google Microsoft
0 Unnamed: 0_level_1                  NaN              NaN    NaN       NaN
  Price                             66.00              NaN    NaN       NaN
  Price to earnings ratio (P/E)     30.31              NaN    NaN       NaN
  Net Sales                           NaN             2.60  20.00     18.70
  Net Profit                          NaN             0.80   5.43      4.56
1 Unnamed: 0_level_1                  NaN              NaN    NaN       NaN
  Price                             69.00              NaN    NaN       NaN
  Price to earnings ratio (P/E)     30.56              NaN    NaN       NaN
  Net Sales                           NaN             3.10  22.00     21.30
  Net Profit                          NaN             0.97   5.89      5.10
2 Unnamed: 0_level_1                  NaN              NaN    NaN       NaN
  Price                             62.00              NaN    NaN       NaN
  Price to earnings ratio (P/E)     30.46              NaN    NaN       NaN
  Net Sales                           NaN             4.30  24.00     21.45
  Net Profit                          NaN             1.20   6.10      5.43
3 Unnamed: 0_level_1                  NaN              NaN    NaN       NaN
  Price                             61.00              NaN    NaN       NaN
  Price to earnings ratio (P/E)     30.11              NaN    NaN       NaN
  Net Sales                           NaN             6.70  26.00     21.88
  Net Profit                          NaN             1.67   6.50      5.89
4 Unnamed: 0_level_1                  NaN              NaN    NaN       NaN
  Price                             66.00              NaN    NaN       NaN
  Price to earnings ratio (P/E)     31.00              NaN    NaN       NaN
  Net Sales                           NaN             8.10  31.00     22.34
  Net Profit                          NaN             2.03   6.40      6.09